window#waybar {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    background: #212121;
    color: #5c5c5c;
}

tooltip {
    background: #212121;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}


#custom-separator {
    font-weight: 900;
}

#window {
    border-radius: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

#cpu {
    background: #3f3f3f;
    color: #ff9800;
    border-left: 0px;
    border-right: 0px;
    padding-left: 10px;
    padding-right: 8px;
}

#temperature {
    background: #3f3f3f;
    color: #ff9800;
    border-left: 0px;
    border-right: 0px;
    padding-left: 8px;
}

#custom-firstdecoration {
    border-top: 10px solid #1a1a1a;
    border-bottom: 10px solid #1a1a1a;
    border-left: 10px solid #3f3f3f;
    background: #1a1a1a;
    color: #3f3f3f;
}

#workspaces button,
#workspaces button.active,
#workspaces button:hover,
#workspaces button.urgent,
#workspaces button.focused {
    padding: 5px;
    color: #eeffff;
    background: #1a1a1a;
}

#custom-pomodoro {
    background: #1a1a1a;
    color: #eeffff;
    padding: 0 5px;
}

#workspaces {
    background: #1a1a1a;
    color: #eeffff;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-seconddecoration {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #1a1a1a;
    color: #1a1a1a;
}

#window {
    padding-left: 8px;
}

#network {
    padding: 0px 8px;
}

#bluetooth {
    padding: 0px 8px;
}

#bluetooth.connected {
    color: #0082fc;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

#pulseaudio {
    padding: 0px 8px;
}

#custom-fourthdecoration {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #1a1a1a;
    color: #1a1a1a;
}

#clock {
    background: #1a1a1a;
    color: #eeffff;
    padding: 0 8px;
}

#custom-thirddecoration {
    border-top: 10px solid #1a1a1a;
    border-bottom: 10px solid #1a1a1a;
    border-right: 10px solid #3f3f3f;
    background: #1a1a1a;
    color: #3f3f3f;
}

#battery {
    background: #3f3f3f;
    color: #ff9800;
    padding-right: 10px;
    border-left: 0px;
}

